h1, h2, h3{
    text-align: center;

}
img{
    padding: 30px 20px;
     height: 105px;
     width: 120px;
     border-radius: 10px;

}
nav a{

    background-color: aqua;
    color: navy;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 25px;
    


}

nav{
    text-align: center;
}

h3{

   font-size: 30px;

}
body{
     font-family:'Courier New', Courier, monospace;
     background-color: cornsilk
}
footer p{

    text-align: center;
    border-radius: 10px;
    padding: 10px 25px;
    background-color: cadetblue;

    
}
main p{

    background-color: grey;
    border-radius: 5px;
    padding: 10px;
}
h1{

    font-size: 50px;
}
